:host {
  position: fixed;
  width: 14rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 5rem);
  left: 0;
  top: 5rem;
  -webkit-user-select: none;
  user-select: none;
  background: var(--v-body-bg);
  z-index: 999;
  width: 5rem;
  overflow: visible;
}